{% extends "base.html" %}

{% block content %}
<h2>新增題目</h2>
<div class="container">
    <div class="row justify-content-center">
        <div div class="col-12">

            <form method="post" action="/create_question/">
                {% csrf_token %}
                <div class="row">
                    <h3>題目</h3>
                </div>
                <div class="row">
                    {{ form.text.label_tag }} {{ form.text }} </div>

                <hr>

                {% for choice_form in form.choice_forms %}
                <div class="row align-items-center mt-3">
                    <div div class="col-8 ">
                        {{ choice_form.text.label_tag }} {{ choice_form.text }}
                    </div>
                    <div class="col-2"> {{ choice_form.is_correct.label_tag }} </div>
                    <div class="col-2" style="height:30px;">{{ choice_form.is_correct }} </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-1 mt-3"> {{ form.tag.label_tag }} </div>
                    <div class="col-4 mt-3">{{ form.tag }} </div>
                </div>

                <div class="row"> <button type="submit" class="btn btn-dark mt-5">Create Question</button> </div>

            </form>
            {% endblock %}
        </div>
    </div>
</div>