{% extends "base.html" %}
{% block title %} 題目 {% endblock %}
{% block content %}
<div class="container mt-5">

    <div class="album py-5 bg-light">
        <div class="container">
            <!--new button-->
            <div class="row justify-content-end mb-5">
                <div class="col-2">
                    <button type="button" class="btn btn-dark" data-toggle="modal"
                        onclick="location.href='/create_question/'" style="font-size: 24px">
                        新增題目
                    </button>
                </div>

                <div class="col-2">
                    <button type="button" class="btn btn-dark" data-toggle="modal"
                        onclick="location.href='/showAllQuiz/'" style="font-size: 24px">
                        所有測驗
                    </button>

                </div>
                

            </div>

            <form class="form-inline" method="POST" action="/addQ2quiz/">
                {% csrf_token %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 10%;">編號</th>
                            <th scope="col">題目</th>
                            <th scope="col" style="width: 10%;"> 加入 </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% load static %}

                        {% for q in allQuestion %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ q.field_text}}</td>
                            <!-- show checkbox  -->
                            <td>
                                <!-- 將checkbox群組化 -->
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                        name="group" value={{q.field_objId}}>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">要匯入的測驗ID</label>

                </div>
                <div class="form-group col-6 mb-1">
                    <label for="quizIDinput" class="col-6 col-form-label">要匯入的測驗ID</label>
                    <input type="text" class="form-control" name="quizIDinput" id="quizIDinput">
                </div>

                <button type="submit" class="btn btn-primary" >匯入</button>
            </form>

        </div>

        {% endblock %}