{% extends "base.html" %}
{% block title %}測驗選單{% endblock%}
{% block content %}
<!--enter catalog menu-->
<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="font-weight: bolder">測驗選單</h1>
        </div>
    </div>

    <!--breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin: 0px;">
            <li class="breadcrumb-item active" aria-current="page"><a href="/show_catalog/">系統目錄</a></li>
            <li class="breadcrumb-item active" aria-current="page">測驗選單</li>
        </ol>
    </nav>

    <!--new button-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-end mb-5">
                <div class="col-2">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
                        style="font-size: 24px">
                        New
                    </button>
                </div>
            </div>
            {% load static %}

            <!--card menu-->
            <div class="row">
                {% for item in allObject %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block"
                            src="/media/{{item.teachOfpic}}.jpg" data-holder-rendered="true" />
                        <div class="card-body">
                            <!--加上forloop.counter 編號id-->
                            <p class="card-text" id="{{forloop.counter}}">{{ item.TeachCourseName}}</p>
                            <p class="card-text">{{ item.teach_description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- modify location.href-->
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="getViewId({{forloop.counter}})" id="button{{forloop.counter}}">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>




</main>
{% endblock %}



{% block Script %}

<script>
    // view button event
    function getViewId(elementId) {
        let e = document.getElementById(elementId);

        window.location.href = "/editunit/" + e.innerHTML; //呼叫show_unit/python etc url
       
    }


    function notion() {
        alert("新增成功");
    }
</script>


{% endblock %}