{% extends "base.html" %}
{% block title %}系統目錄{% endblock%}
{% block content %}
<!--enter catalog menu-->
<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="font-weight: bolder">系統目錄</h1>
    </div>
  </div>

  <!--breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin: 0px;">
      <li class="breadcrumb-item active" aria-current="page">系統目錄</li>
    </ol>
  </nav>

  <!--new button-->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-end mb-5">
        <div class="col-2">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
            style="font-size: 24px">
            New
          </button>
        </div>
      </div>

      <!--card menu-->
      <div class="row">
        {% for item in allObject %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block"
              src="/media/{{item.field_pic}}.jpg" data-holder-rendered="true" />
            <div class="card-body">
              <!-- use model instance primary id id-->
              <p class="card-text" id="{{item.id}}">{{ item.field_name}}</p>
              <p class="card-text">{{ item.field_description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="getViewId({{item.id}})"
                    id="button{{item.id}}">
                    View
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="EditObj({{item.id}})"
                    id="button{{item.id}}">
                    Edit
                  </button>


                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增系統名稱</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--modal body-->
        <div class="modal-body">
          <!-- 新增一個新的catalog -->
          <form method="POST" action="/createCatalog/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mt-5">
              <h3>{{ field.label}}</h3>
              {{ field}}
            </div>
            {% endfor%}


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary" onclick="notion()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</main>
{% endblock %}



{% block Script %}

<script>
  // view button call this
  function getViewId(elementId) {
    let e = document.getElementById(elementId);
   
    if (elementId == 1) {

      window.location.href = "/showAllQuiz/";

    }
    else if (elementId == 2) {
      
      window.location.href = "/createCourse/" + e.innerHTML;
    }
  }
  // edit button call this
  function EditObj(elementId) {
    window.location.href = "/editCatalog/" + elementId + "/";
  }

  function notion() {
    alert("新增成功");
  }
</script>


{% endblock %}