{% extends "base.html" %}
{% block title %}測驗選單{% endblock%}
{% block content %}
<!--enter catalog menu-->
<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="font-weight: bolder">測驗選單</h1>
        </div>
    </div>

    <!--breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin: 0px;">
            <li class="breadcrumb-item active" aria-current="page"><a href="/show_catalog/">系統目錄</a></li>
            <li class="breadcrumb-item active" aria-current="page">測驗選單</li>
        </ol>
    </nav>

    <!--new button-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-end mb-5">
                <div class="col-2">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
                        style="font-size: 24px">
                        新增測驗
                    </button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-dark" data-toggle="modal"
                        onclick="location.href='/showAllQuestion/'" style="font-size: 24px">
                        題庫
                    </button>

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" style="width: 9%;">編號</th>
                                <th scope="col">測驗ID</th>
                                <th scope="col">測驗名稱</th>
                                <th scope="col">測驗說明</th>
                                <th scope="col">tag</th>
                                <th scope="col" style=" width: 10%;">建立日期</th>
                                <th scope="col" style="width: 10%;"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% load static %}
                            {% load json_tags %}
                            {% for q in allQuiz %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <th scope="row">{{q.field_objId}}</th>
                                <td>{{ q.field_title}}</td>
                                <td>{{ q.field_description}}</td>
                                <td>
                                    {% with q.field_tag|json_to_list as tag_list %}
                                    {% for s in tag_list %}  
                                        {{s}}
                                    {% endfor %}
                                    {% endwith %}
                                </td>
                                <td>{{q.field_createDate|date:"j/m/Y"}}</td>


                                <td><a href="/show_exam/{{q.field_objId}}">進入</a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </div>
                <!-- modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width:700px">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增{{courseName}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--modal body-->
                            <div class="modal-body">

                                <form method="POST" action="/showAllQuiz/" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="mt-5">
                                        <h3>{{ field.label}}</h3>
                                        {{ field}}
                                    </div>
                                    {% endfor%}

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" onclick="notion()">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</main>
{% endblock %}



{% block Script %}

<script>

    function notion() {
        alert("新增成功");
    }
</script>


{% endblock %}