{% extends "base.html" %}
{% block title %}單元目錄{% endblock%}
{% block content %}
<!--enter catalog menu-->
<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="font-weight: bolder">{{courseName}}單元目錄</h1>
    </div>
  </div>

  <!--breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin: 0px;">
      <li class="breadcrumb-item active" aria-current="page"><a href="/show_catalog/">系統目錄</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/show_course/">課程目錄</a></li>
      <li class="breadcrumb-item active" aria-current="page">單元目錄</li>
    </ol>
  </nav>

  <!--new button-->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-end mb-5">
        <div class="col-2">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
            style="font-size: 24px">
            New
          </button>
        </div>
      </div>

      <!--card menu-->
      <div class="row">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">單元名稱</th>
              <th scope="col">敘述</th>
              <th scope="col">查看</th>
            </tr>
          </thead>
          <tbody>
            {% load static %}
            {% for item in allObject %}
            <tr>
              <th scope="row">1</th>
              <td>{{ item.unitName}}</td>
              <td>{{ item.unit_description}}</td>
              <!-- ca978112ca1bbdc -->
              <td><a href="{{ MEDIA_URL }}ca978112ca1bbdc.html">查看</a> </td>
            </tr>

            {% endfor %}
          </tbody>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">新增{{courseName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--modal body-->
        <div class="modal-body">
          <form method="POST" action="/editunit/{{courseName}}/" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mt-5">
              <h3>{{ field.label}}</h3>
              {{ field}}
            </div>
            {% endfor%}


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary" onclick="notion()">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
</main>
{% endblock %}



{% block Script %}

<script>

  function getViewId(elementId) {
    let e = document.getElementById(elementId);

    window.location.href = "/show_unit/" + e.innerHTML;
    console.log(window.location.hostname)
  }


  function notion() {
    alert("新增成功");
  }
</script>


{% endblock %}