{% extends "base.html" %}
{% block title %} 題目 {% endblock %}
{% block content %}

<p>題目: {{item.text}}</p>
<p>選項:</p>

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 10%;">編號</th>
                    <th scope="col">題目</th>
                    <th scope="col" style="width: 10%;"> </th>
                </tr>
            </thead>
            <tbody>
                {% load static %}
                {% for q in allQuestion %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ q.text}}</td>
                    <td><a href="#">Add</a> </td>
                </tr>
                {% endfor %}
            </tbody>
    </div>
</div>

{% endblock %}